/**
 * Stylesheet for the admin pages LBRYPress uses
 * @package LBRYPress
 */

.wallet-icon-lbc {
  height: 1.8em;
  margin-right: .5em;
  margin-bottom: -.5em;
}

.bid-icon-lbc {
  height: 1.2em;
  margin-bottom: -.2em;
}

.channel-bid-icon-lbc {
  height: 1.1em;
  margin-right: .1em;
  margin-bottom: -.2em;
}

.lbry-pub-metabox {
  margin: 0 0 0 -.2em;
  padding: 0 .2em 0 0 ;
}
.meta-icon-lbry {
  height: 1.55em;
  margin-bottom: -.4em;
  padding: 0 .1em 0 0;
}
.lbry-meta-checkbox-wrapper {
  padding: .5em .8em .6em;
}

.lbry-meta-wrapper-last {
  padding: 0em .8em 1.5em;
}

.lbry-meta-label {
  padding: .3em .6em .6em .1em;
  /* padding-left: .3em;
  padding-right: .6em;
  padding-bottom: .5em; */
}

.lbry-meta-bx-label {
  margin: .5em .8em .6em;
}

.lbry-meta-bx-option {
  padding: .5em .8em .6em;
}

.lbry-meta-bx-option-last {
  padding: .5em .8em 1.5em;
}

.lbry-hr-meta {
  margin-left: 1em;
  margin-right: 1em;
}
.post-lbry-display-before {
  color: darkgreen;
}
.post-lbry-display {
  color: green;
}

.lbry-pub-metabox {
  margin: 0;
  font-size: 1em;
}

.lbry-claim-id-metabox {
  margin: 0;
  padding-top: .3em;
  font-size: .85em;
  line-height: 1em;
}

.lbry-meta-bx-content {
  padding: .2em .8em .6em .1em;
}

.lbry-meta-bx-content-last {
  padding: .2em .8em 1em .1em;
}
